<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Fritz's Note App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default burlywood-bg">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand black-txt" href="/">FRITZNOTES</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <form action='/create' method="POST">
            <label for="todoEntry">Create new Todo:</label>
            <input id="todoEntry" name="todo_field" type="text">
            <input type="submit" value="OK">
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <% todos.forEach(function(todo){ %>
                <div class="col-md-4 text-center">
                    <div class="todocontainers">
                        <h2><%= todo.body %></h2><br>
                        <form method="POST" id="update_form" action=<%-'/update/' + todo.id %>>
                            <a href=<%- '/delete/' + todo.id %>><i class="fas fa-trash padding-right fa-2x"></i></a>
                            <a href="javascript:{}" onclick="document.getElementById('update_form').submit();"><i class="fas fa-edit fa-2x"></i></a>
                            <div class="form-group">
                                <input type="text" class="form-control" name="updateText">
                            </div>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </body>
</html>