.todocontainers {
    h2 {
        font-family: 'Shadows Into Light', cursive;
        color: black;
        display: inline;
        text-align: center;
        font-size: 4em;
    }
    background-color: #ffffa5;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-right {
    padding-right: 1em;
}
form {
    display: inline;
}
i {
    color: black;
}
.checkedoff {
    text-decoration: line-through;
    background-color: darkgray;
}
.burlywood-bg {
    background-color: #DEB887;
}
.black-txt {
    color: black !important;
}